.someClass {

}

.error {
    border-color: red;
}

.greeting {
    color: white;


}


s.button {

    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: none;
    
    margin: 10px;
    cursor: pointer;
    background-color: black;
    color: white;


}

s.count {

    display: block;
    background: white;
    font-size: 15px;


}

